Source: tarantool-stat
Priority: optional
Section: database
Maintainer: Alexander Opryshko <alexopryshko@yandex.ru>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/stat
Vcs-Git: git://github.com/tarantool/stat.git
Vcs-Browser: https://github.com/tarantool/stat

Package: tarantool-stat
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: The human-readable module for getting Tarantool's status
